
<div>
  <ion-toolbar>
    <ion-title class="header-menu">Preguntas</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</div>

<ion-content [fullscreen]="false">

  <div class="container">
     <!-- btn settings -->
     <ion-fab class="ion-fab-settings" slot="fixed" vertical="top" horizontal="start"  (click)="viewSettings = !viewSettings">
      <ion-fab-button size="small"  [color]="viewSettings ? 'warning' : 'medium'">
        <ion-icon name="cog" style="font-size: 22px"></ion-icon>
      </ion-fab-button>
    </ion-fab>

    <ion-grid *ngIf="viewSettings">
      <ion-row class="ion-justify-content-end">
        <div class="animation-cnx">
          <h6 class="ion-text-center">Ajustes de Conexión</h6>
          <!-- Ip -->
          <ion-item>
            <ion-input label="IP"[(ngModel)]="ip" type="string" labelPlacement="stacked"></ion-input>
          </ion-item>
          <!-- Puerto -->
          <ion-item>
            <ion-input label="Puerto"[(ngModel)]="port" type="number" labelPlacement="stacked"></ion-input>
          </ion-item>
        </div>
      </ion-row>
    </ion-grid>

    <ion-grid>
      <!-- Mensjae de error -->
      <div *ngIf="msj">
        <ion-card color="dark">
          <ion-card-header>
            <ion-button size="small" color="warning" (click)="copiarAlPortapapeles()">Copiar y cerrar</ion-button>
            <pre class="ion-text-center">"Copie el error y repórtelo"</pre>
            <ion-card-title>Ocurrió un error inesperado: </ion-card-title>
            <ion-card-subtitle>Error</ion-card-subtitle>
          </ion-card-header>
          <ion-card-content> {{msj | json}}
          </ion-card-content>
        </ion-card>
      </div>
      <ion-toast
        [isOpen]="isToastOpenClipBoard"
        message="Contenido copiado al portapapeles"
        [duration]="3000"
        (didDismiss)="setOpenToastClipBoard(false)"
      ></ion-toast>
      <ion-toast
        [isOpen]="isToastOpenClipBoard"
        message="Contenido copiado al portapapeles"
        [duration]="3000"
        (didDismiss)="setOpenToastClipBoardError(false)"
      ></ion-toast>
    </ion-grid>

    <div class="robot-title ion-padding-top" style="display: flex; justify-content: center; align-items: center;">
        <h2><b>¡Hazme una pregunta!</b></h2>
    </div>
    <div class="img-robot">
      <div class="img-robot-center">
        <ion-img style="height: 250px; width: 250px;"
        src="../../assets/img/ceci.png"
        alt="Ceci robot"
        ></ion-img>
      </div>
    </div>

    <ion-grid class="content-preguntas">

      <ion-row >

        <ion-col size="12">


            <ion-button expand="block" class="custom-button ion-padding-bottom" [disabled]="isPlaying"  [color]="selectedButton === '0' ? 'success' : 'tertiary'" (click)="playAudio('0')"> <b>Preséntate</b></ion-button>

          <!-- preguntas 1 -->
          <ion-accordion-group expand="inset" class="ion-padding acordion-group-settings">
            <ion-accordion value="first">
              <ion-item slot="header" color="rose">
                <ion-label><b>Preguntas frecuentes</b></ion-label>
              </ion-item>
              <div class="ion-padding-horizontal" slot="content">

                  <ion-list class="ion-padding">
                      <ion-button expand="block" class="custom-button" [disabled]="isPlaying"  [color]="selectedButton === '1pg_donde' ? 'success' : 'light'" (click)="playAudio('1pg_donde')"><b>¿Dónde trabajaras ahora?</b></ion-button>

                      <ion-button expand="block" class="custom-button" [disabled]="isPlaying"  [color]="selectedButton === '2pg_transferencia' ? 'success' : 'light'" (click)="playAudio('2pg_transferencia')"><b>¿Qué opinas de tu transferencia tecnológica?</b></ion-button>

                      <ion-button expand="block" class="custom-button" [disabled]="isPlaying"  [color]="selectedButton === '3pg_verdenuevo' ? 'success' : 'light'" (click)="playAudio('3pg_verdenuevo')"><b>¿Dónde te podemos ver?</b></ion-button>

                      <ion-button expand="block" class="custom-button" [disabled]="isPlaying"  [color]="selectedButton === '4' ? 'success' : 'light'" (click)="playAudio('4')"><b>¿Qué hacen en los puntos GIRA?</b></ion-button>

                      <ion-button expand="block" class="custom-button" [disabled]="isPlaying"  [color]="selectedButton === '5' ? 'success' : 'light'" (click)="playAudio('5')"><b>¿Porque es impórtate reciclar?</b></ion-button>
                  </ion-list>

              </div>
            </ion-accordion>
          </ion-accordion-group>

        </ion-col>


        <ion-col size="12" >
          <!-- preguntas 2 -->
          <ion-accordion-group expand="inset" class="ion-padding acordion-group-settings">
            <ion-accordion value="first">
              <ion-item slot="header" color="rose">
                <ion-label><b>Otras Preguntas</b></ion-label>
              </ion-item>
              <div class="ion-padding-horizontal" slot="content">

                <ion-list class="ion-padding">
                  <ion-button expand="block" class="custom-button" [disabled]="isPlaying"  [color]="selectedButton === '6' ? 'success' : 'light'" (click)="playAudio('6')"><b>¿Qué hace GIRA para promover el reciclaje y cuidado del planeta?</b></ion-button>

                  <ion-button expand="block" class="custom-button" [disabled]="isPlaying"  [color]="selectedButton === '7' ? 'success' : 'light'" (click)="playAudio('7')"><b>¿Qué opinas de tu transferencia tecnológica?</b></ion-button>

                  <ion-button expand="block" class="custom-button" [disabled]="isPlaying"  [color]="selectedButton === '8' ? 'success' : 'light'" (click)="playAudio('8')"><b>¿Como puedo ser un Reci Amigo?</b></ion-button>

                  <ion-button expand="block" class="custom-button" [disabled]="isPlaying"  [color]="selectedButton === '9' ? 'success' : 'light'" (click)="playAudio('9')"><b>¿Como puedo contribuir a estos esfuerzos?</b></ion-button>

                  <ion-button expand="block" class="custom-button" [disabled]="isPlaying"  [color]="selectedButton === '10' ? 'success' : 'light'" (click)="playAudio('10')"><b>¿Cuándo nos volveremos a ver?</b></ion-button>
              </ion-list>

              </div>
            </ion-accordion>
          </ion-accordion-group>
        </ion-col>

      </ion-row>

    </ion-grid>

  </div>

</ion-content>
