$color-primary: #ffda56c2;
$color-secondary: #eeeeec;
$color-terciary: #040404;
$color-cuartiary: #0000ff80;
$color-cuartiary-trasnsparent: rgba(0, 0, 255, 0.5);

 .item-header-settings, .footer-style, ion-toolbar{
  background: $color-primary;
  --background: $color-primary;
}
ion-menu-button {
  --color: $color-terciary;
}

.welcome-content{
  animation: entradaDesdeIzquierda 1s ease forwards;
}

@keyframes entradaDesdeIzquierda {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}

.title-welcome{
  margin: 0;
  font-size: 50px;
  font-family: Agbalumo;
}


