$color-primary: #ffda56c2;
$color-secondary: #eeeeec;
$color-terciary: #040404;
$color-cuartiary: #0000ff80;
$color-cuartiary-trasnsparent: rgba(0, 0, 255, 0.5);

 .item-header-settings, .footer-style, ion-toolbar{
  background: $color-primary;
  --background: $color-primary;
}
ion-menu-button {
  --color: $color-terciary;
}

#container{
  height: 100%;
  background-color: $color-secondary;
background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 800 400'%3E%3Cdefs%3E%3CradialGradient id='a' cx='396' cy='281' r='514' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%23FFD956'/%3E%3Cstop offset='1' stop-color='%23E5E5E5'/%3E%3C/radialGradient%3E%3ClinearGradient id='b' gradientUnits='userSpaceOnUse' x1='400' y1='148' x2='400' y2='333'%3E%3Cstop offset='0' stop-color='%23FFFFFF' stop-opacity='0'/%3E%3Cstop offset='1' stop-color='%23FFFFFF' stop-opacity='0.5'/%3E%3C/linearGradient%3E%3C/defs%3E%3Crect fill='url(%23a)' width='800' height='400'/%3E%3Cg fill-opacity='0.5'%3E%3Ccircle fill='url(%23b)' cx='267.5' cy='61' r='300'/%3E%3Ccircle fill='url(%23b)' cx='532.5' cy='61' r='300'/%3E%3Ccircle fill='url(%23b)' cx='400' cy='30' r='300'/%3E%3C/g%3E%3C/svg%3E");
background-attachment: fixed;
background-size: cover;
}

.welcome-content{
  animation: entradaDesdeIzquierda 1s ease forwards;
}

@keyframes entradaDesdeIzquierda {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}
